<div id="navEnd" class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
  <div>
    <div class="uk-card">
      <p>О компании</p>
      <img src="/img/logo-footer.png" />
      <p>Ваш профессиональный партнер</p>
      <p>A part of San Sac Group</p>
    </div>
  </div>

  <div>
    <div class="uk-card">
      <p>Информация</p>
      <p>О компании</p>
      <p>Новости</p>
      <p>Вакансии</p>
      <p>Техническое обслуживание</p>
      <p>Контактная информация</p>
    </div>
  </div>

  <div>
    <div class="uk-card">
      <p>Каталог</p>
      <p>Утилизация отходов</p>
      <p>Технологическое оборудование</p>
      <p>Запасные части</p>
    </div>
  </div>

  <div>
    <div class="uk-card">
      <p>Контакты</p>
      <p><span uk-icon="location"></span> Адрес:  г. Москва, ул. Космонавта Волкова, д.10 стр.1</p>
      <p><span uk-icon="receiver"></span> Тел: +7 (495) 790-76-06</p>
      <p><span uk-icon="mail"></span> Почта: info@proshop.ru</p>
    </div>
  </div>
</div>

<div id="lineEnd" class="uk-flex uk-flex-middle">
  <div class="content">© 2018 PROSHOP.RU. Все права защищены.</div>
</div>

<!-- <a id="scrollUp" class="uk-button uk-button-primary" href="#" uk-scroll><span uk-icon="chevron-up"></span></a> -->
