<div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-active"><a href="#">Утилизация отходов</a></li>
        <li><a href="#">Сортировка</a></li>
        <li><a href="#">Переработка</a></li>

        <li class="uk-active"><a href="#">Технологическое оборудование</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Оплата</a></li>

        <li class="uk-active"><a href="#">Запасные части</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Оплата</a></li>

        <li class="uk-nav-divider"></li>
        <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
</div>
