<div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
        <li class="uk-active"><a href="#">О компании</a></li>
        <li><a href="#">Оплата</a></li>
        <li><a href="#">Доставка</a></li>
        <li><a href="#">Вакансии</a></li><br />

        <li class="uk-active"><a href="#">Интересное</a></li>
        <li><a href="#">Статьи</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Выставки</a></li>

        <li class="uk-nav-divider"></li>
        <li><a href="#">Техническое обслуживание	</a></li>
        <li><a href="#">Инструкция по заказу запасных частей</a></li>
    </ul>
</div>
