<div id="contacts" class="content contentY">
  <div class="uk-child-width-1-2@m uk-grid-match uk-padding uk-padding-remove-vertical" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
          <h1 class="uk-heading-divider">Главный офис</p></h1>
          <p><span uk-icon="location"></span> 127299, г. Москва, ул. Космонавта Волкова, д.10 стр.1</p>
          <p>
            <span uk-icon="receiver"></span> Основной телефон: +7 (495) 790-76-06<br />
            <span uk-icon="receiver"></span> Дополнительный телефон: +7 (499) 150-7791
          </p>
          <p><span uk-icon="clock"></span> Время работы офиса с 9.00 до 18.30</p>
          <p><span uk-icon="mail"></span> Email: info@proshop.ru</p>

          <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0FggMpF8J9R6psZtRDse7FJ1wvFouCaq&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor"></script>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
          <h1 class="uk-heading-divider">Склад</p></h1>
          <p><span uk-icon="location"></span> 125212, г.Москва, ул. Адмирала Макарова, д. 2. Склад 41-2-1</p>
          <p>
            <span uk-icon="receiver"></span> Основной телефон: +7 (495) 790-76-06<br />
            <span uk-icon="receiver"></span> Дополнительный телефон: +7 (499) 150-7791
          </p>
          <p><span uk-icon="clock"></span> Время работы офиса с 9.00 до 18.30</p>
          <p><span uk-icon="mail"></span> Email: info@proshop.ru</p>

          <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=iHCq5SLpKoCyHwrwHAKXVKX-KKZKF7kt&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor"></script>
        </div>
    </div>
  </div>


  <div uk-grid class="uk-flex-center uk-flex-middle whiteBlock uk-margin-remove-bottom">
    <div class="uk-width-auto@m"><img src="http://www.proshop.ru/images/caroline.png" /></div>
    <div class="uk-width-auto@m">
      <form class="uk-form-horizontal uk-margin-large">

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Ваше имя</label>
            <div class="uk-form-controls uk-form-width-large">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Ваше имя...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Ваше E-mail</label>
            <div class="uk-form-controls uk-form-width-large">
                <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Ваше E-mail...">
            </div>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Выберите категорию</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-horizontal-select">
                    <option>Приобретение</option>
                    <option>Доставка</option>
                    <option>Ремонт \ настройка</option>
                    <option>Другое</option>
                </select>
            </div>
        </div>

        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Ваше сообщение"></textarea>
        </div>

      </form>
    </div>
  </div>





  <!-- <div class="whiteBlock">
    <h1 class="uk-heading-divider">Техническая поддержка</p></h1>



  </div> -->
</div>
