<div id="info" class="content contentY">
  <div class="">
    <h1 class="uk-heading-divider">Heading Divider</h1>
    <p>Компания PROSHOP – ведущая российская компания в области комплексного оснащения объектов торговли, общественного питания, производственных предприятий и предприятий занятых в других отраслях.  С 2018 года PROSHOP официально вошла в состав группы компаний San Sac Group.</p>
    <p>Имея богатый накопленный опыт, начиная с 1995 года, компания PROSHOP обслуживает более 1000 российских и европейских предприятий, как в России, так и в странах СНГ. У всех этих компаний есть одна общая черта – они предъявляют высочайшие требования к нашим проектам, поставкам, вводу в эксплуатацию оборудования, нашему сервису и непрерывной технической и информационной поддержке.</p>

    <h1 class="uk-heading-divider">Наши награды и достижения</h1>
    <p>Мы используем комплексный подход для анализа будущих потребностей клиента, формулирования правильных решений и поставки необходимого оборудования. Наш персонал окажет Вам поддержку на стадии проектирования, и мы полностью берем на себя ответственность по поставке оборудования и его установке. Мы также гарантируем, что к моменту открытия вашего магазина или цеха, все будет находится на своих местах и готово к началу рабочего дня.</p>
    <p>Несмотря на стремление к экономичным решениям, мы не экономим на качестве. Все наши поставщики – это производители, в основном, из Европы, использующие новейшие технические достижения.</p>
    <p>Лозунг нашей компании: «Самые продуктивные решения для Вашего технологического процесса».</p>
  </div>
</div>
