<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="animation:push; autoplay:true; autoplay-interval:5000; max-height:400;">
  <ul class="uk-slideshow-items">
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="/img/back.jpg" alt="" uk-cover>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="/img/back.jpg" alt="" uk-cover>
      </div>
    </li>
    <li>
      <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
        <img src="/img/back.jpg" alt="" uk-cover>
      </div>
    </li>

    <!-- <li><img src="/img/back.jpg" alt="" uk-cover></li>
    <li><img src="/img/back.jpg" alt="" uk-cover></li>
    <li><img src="/img/back.jpg" alt="" uk-cover></li> -->
  </ul>

  <a class="uk-position-center-left uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
  <!-- <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
</div>


<div id="banners" class="uk-child-width-1-2@m uk-grid-match content uk-margin" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body banner-1 uk-padding-remove" uk-scrollspy="cls:uk-animation-slide-left;">
          <div class="uk-grid-match uk-child-width-1-2@m uk-padding-small" uk-grid>
              <div>
                <a href="#">Утилизация отходов</a>
                <ul>
                  <li><a href="#">Вертикальные прессы</a></li>
                  <li><a href="#">Горизонтальные прессы</a></li>
                  <li><a href="#">Компакторы</a></li>
                  <li><a href="#">Шредеры</a></li>
                  <li><a href="#">Контейнеры и урны</a></li>
                </ul>
              </div>
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body banner-2 uk-padding-remove" uk-scrollspy="cls:uk-animation-slide-right;">
          <div class="uk-grid-match uk-child-width-1-2@m uk-padding-small" uk-grid>
              <div>
                <a href="#">Утилизация отходов</a>
                <ul>
                  <li><a href="#">Вертикальные прессы</a></li>
                  <li><a href="#">Горизонтальные прессы</a></li>
                  <li><a href="#">Компакторы</a></li>
                  <li><a href="#">Шредеры</a></li>
                  <li><a href="#">Контейнеры и урны</a></li>
                </ul>
              </div>
          </div>
        </div>
    </div>
</div>


<div class="content uk-margin">
  <div id="news">
    <h1 class="uk-heading-primary"><b>НОВОСТИ</b></h1>

    <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation:uk-animation-slide-left-medium, uk-animation-slide-right-medium">
        <li><a href="#">Новости</a></li>
        <li><a href="#">Выставки</a></li>
    </ul>

    <ul class="uk-switcher">
      <div>
        <div class="uk-panel">
          <img class="uk-align-left uk-margin-remove-adjacent" src="/img/san-sac-logo.jpg" width="163" alt="Example image">
          <p>ProShop официально вошла в состав шведской компании SAN SAC GROUP</p>
          <p class="uk-text-meta">С радостью сообщаем, что сегодня компания ProShop официально вошла в состав шведской компании SAN SAC GROUP! Tomas Johansson, Директор по продажам и маркетингу компании Orwak, комментирует: "Благодаря сотрудничеству с ProShop мы становимся ближе к конечным российским клиентам. Мы видим…</p>
        </div>
        <div class="uk-panel">
          <img class="uk-align-left uk-margin-remove-adjacent" src="/img/news9020S.jpg" width="163" alt="Example image">
          <p>Новая функция в прессе ORWAK 9020</p>
          <p class="uk-text-meta">С 1 марта 2017 года Orwak MULTI 9020 будет оснащаться новым защитным тормозом. Оператор должен нажать кнопки на двух ручках и затем переместить прессующую голову вбок. При отпускании кнопки - включается тормоз прессующей головы. Новая функция повышает безопасность и…</p>
        </div>

        <a href="#">Читать остальное</a>
      </div>

      <div>
        <div class="uk-panel">
          <img class="uk-align-left uk-margin-remove-adjacent" src="/img/vistavka.jpg" width="163" alt="Example image">
          <p>Выставка "Молочная и мясная индустрия"</p>
          <p class="uk-text-meta">С 27 февраля по 2 марта в Москве состоится «16-я Международная выставка оборудования и технологий для животноводства, молочной и мясной промышленности». Компания ProShop традиционно принимает участие в подобном мероприятии. На нашем фирменном стенде будет представлена…</p>
        </div>
        <div class="uk-panel">
          <img class="uk-align-left uk-margin-remove-adjacent" src="/img/anons_wasma.jpg" width="163" alt="Example image">
          <p>Выставка WASMA 2017</p>
          <p class="uk-text-meta">19 октября в КВЦ Сокольники в Москве состоялась выставка оборудования и технологий для переработки, утилизации отходов и водоочистки - WASMA2017. Международная выставка Wasma — это ежегодная профильная выставка в России, где ведущие компании демонстрируют…</p>
        </div>

        <a href="#">Читать остальное</a>
      </div>
    </ul>

  </div>
</div>
