<div id="shop" class="content contentY">
  <div class="uk-child-width-1-5@m" uk-grid uk-scrollspy="cls:uk-animation-fade; target: > div > .uk-card; delay:150;">

    {{#each goods}}
      <a href="#">
        <div class="uk-card uk-card-default uk-padding-small" tooltip="{{slice feature 0 60}}">
          <img src="/img/shop/{{image}}.jpg">
          <p class="uk-margin-remove">{{name}}</p>
        </div>
      </a>
    {{/each}}

  </div>
</div>
