<div class="uk-flex uk-flex-around" style="font-size:160px; font-weight:900; animation: shadow 5s linear infinite;">404</div>
<div class="uk-flex uk-flex-around" style="font-size:30px;">Упс... Ошибочный путь к запрашиваемому контенту</div>
