#totalbase{
	position:absolute;
	height:10px; width:10px;
	top:50%; left:50%;
	background-color:blue;
	perspective:5000px;

	transform-style:preserve-3d;
	transform-origin:0 0;
	transform:rotateX(60deg) rotateZ(45deg) translate(-50%,-50%);
}


#talkbubble {
   position:absolute;
   max-height:90px; max-width:200px;
   min-height:30px; min-width:120px;
   padding:5px 10px;
   top:50%;left:50%;
   background:#D3D3D3;
   font-family:'Courgette', cursive;
   font-size:18px;
   border-radius:10px;
   transform:translate(-50%,-50%) rotateX(-90deg) rotateY(45deg) translateY(-370px);
}
#talkbubble:before {
   content:"";
   position:absolute;
   left:calc(50% - 13px);
   bottom:-26px;
   height:0; width:0;
   border-right:13px solid transparent;
   border-top:26px solid #D3D3D3;
   border-left:13px solid transparent;
}

#animbase{
	position:absolute;
	height:700px; width:10px;
	top:50%; left:50%;

	transform-style:preserve-3d;
	animation:anima 8s infinite linear;
	transform-origin:0 0%;
}
#base {
	position:absolute;
	height:10px; width:10px;
	top:0; left:50%;
	background-color:blue;

	transform-style:preserve-3d;
	transform-origin:0 0;
	transform:translate(-50%,-50%) rotateZ(90deg);


}
#baseshadow {
	position:absolute;
	height:10px; width:25px;
	top:50%; left:50%;
	background-color:#D3D3D3;
	box-shadow:0 0 140px 27px gray;

	transform-style:preserve-3d;
	transform-origin:0 0;
	transform:rotateZ(90deg) translateZ(-150px);
}

@keyframes anima {
	0%{transform:rotateZ(0deg) translate(-50%,-50%);}
	100%{transform:rotateZ(360deg) translate(-50%,-50%);}
}


[class^="heli"] {
	position:absolute;
	transform-style:preserve-3d;
	height:39px;
	width:39px;
	left:50%;top:50%;
	background-color:white;
	border:1px solid black;
}
.helitop	{transform:translate(-50%,-50%) rotateX(0deg) translateZ(20px);}
.helibottom	{transform:translate(-50%,-50%) rotateX(0deg) translateZ(-20px);}
.helifront	{transform:translate(-50%,-50%) rotateX(90deg) translateZ(-20px);}
.heliback	{transform:translate(-50%,-50%) rotateX(90deg) translateZ(20px);}
.helileft	{transform:translate(-50%,-50%) rotateY(90deg) translateZ(-20px);}
.heliright	{transform:translate(-50%,-50%) rotateY(90deg) translateZ(20px);}


.front1, .front2, .front3 {
	position:absolute;
	height:19px; width:39px;
	left:50%; top:50%;
	background-color:#f0f0f0;
	border:1px solid black;
}
.front1{transform:translate(-50%,-50%) translateZ(18px); transform-style:preserve-3d;}
.front2{transform:translate(-50%,-50%) rotateX(60deg) translateZ(18px);}
.front3{transform:translate(-50%,-50%) rotateX(-60deg) translateZ(18px);}

.front4, .front5 {
	height:0; width:20px;
	left:50%; top:50%;

	border-top:18px solid #f0f0f0;
	border-left:11px solid transparent;
	border-right:11px solid transparent;
}
.front4{transform:translate(-50%,-50%) rotateY(90deg) rotateZ(90deg) translateZ(0px) translateX(19px) translateY(50%);}
.front5{transform:translate(-50%,-50%) rotateY(90deg) rotateZ(90deg) translateZ(39px) translateX(1px) translateY(50%);}



.wingbase {
	position:absolute;
	height:10px; width:10px;
	bottom:00%; left:50%;
	background:white;

	transform-style:preserve-3d;
	transform-origin:0 0;
	transform:translate(-50%,-50%);
	animation:anim 0.5s infinite linear;
}

@keyframes anim {
	0%{transform:rotateZ(0deg) translate(-50%,-50%);}
	100%{transform:rotateZ(360deg) translate(-50%,-50%);}
}

.wing1, .wing2 {
	position:absolute;
	height:4px; width:100px;
	top:50%; left:50%;

	z-index:10;
	background-color:#000000;
	border:1px solid black;
}
.wing1 {transform:translate(-50%,-50%) translateX(50%) translateZ(25px) rotateX(10deg);}
.wing2 {transform:translate(-50%,-50%) translateX(-50%) translateZ(25px) rotateX(-10deg);}


[class^="col"] {
	position:absolute;
	height:25px; width:4px;
	top:50%; left:50%;

	background-color:white;
	border:1px solid black;
}
.col1{transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(3px);}
.col2{transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-3px);}
.col3{transform:translate(-50%,-50%) rotateX(90deg) rotateY(90deg) translateY(50%) translateZ(-3px);}
.col4{transform:translate(-50%,-50%) rotateX(90deg) rotateY(90deg) translateY(50%) translateZ(3px);}

.tailbase{
	position:absolute;
	height:10px; width:10px;
	top:50%; left:50%;

	transform-style:preserve-3d;
	transform:translate(-50%,-50%);
}


.tail1{
	position:absolute;
	height:8px; width:8px;
	top:0; left:50%;

	border:1px solid black;
	background-color:white;

	transform-style:preserve-3d;
	transform:translate(-50%,100%) translateZ(-100px);
}

.tail21, .tail22, .tail23, .tail24 {
	position:absolute;
	height:100px; width:8px;
	top:50%; left:50%;

	background:white;
	border:1px solid black;
	transform-style:preserve-3d;
}
.tail21 {transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(5px);}
.tail22 {transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-5px);}
.tail23 {transform:translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(5px);}
.tail24 {transform:translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(-5px);}

.tail25, .tail26 {
	position:absolute;
	height:14px; width:14px;
	top:50%; left:50%;

	border:10px solid transparent;
	border-top:10px solid black;

	transform-style:preserve-3d;
}
.tail25 {transform:translate(-50%,-11px) rotateY(90deg) rotateZ(45deg) translateZ(-5px);}
.tail26 {transform:translate(-50%,-11px) rotateY(90deg) rotateZ(45deg) translateZ(5px);}

.tailwingbase{
	position:absolute;
	height:10px; width:10px;
	top:0%; left:50%;

	animation:animb 0.3s infinite linear;
	transform-style:preserve-3d;
	transform:translate(-50%,0) rotateX(180deg);
}

@keyframes animb {
	0%{transform:translate(-50%,0) rotateX(180deg) rotateZ(0deg);}
	100%{transform:translate(-50%,0) rotateX(180deg) rotateZ(-360deg);}
}


.tail221, .tail222, .tail223, .tail224 {
	position:absolute;
	height:3px; width:3px;
	top:50%; left:50%;

	background:white;
	border:1px solid black;
	transform-style:preserve-3d;
}
.tail221 {transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(2px);}
.tail222 {transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-2px);}
.tail223 {transform:translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(2px);}
.tail224 {transform:translate(-50%,-50%) rotateZ(90deg) rotateX(90deg) translateY(50%) translateZ(-2px);}

.tailwing1, .tailwing2 {
	position:absolute;
	height:2px; width:15px;
	top:50%; left:50%;

	background-color:#000000;
	border:1px solid black;
}
.tailwing1 {transform:translate(-50%,-50%) translateX(50%) translateZ(5px) rotateX(30deg);}
.tailwing2 {transform:translate(-50%,-50%) translateX(-50%) translateZ(5px) rotateX(-30deg);}




#towerbase{
	position:absolute;
	height:40px; width:40px;
	top:50%; left:50%;

	background-color:#ffffff;
	box-shadow:0 0 60px 5px black;

	transform-style:preserve-3d;
	transform-origin:0 0;
	transform:translate(-50%,-50%) translateZ(-150px);
}

#towerbase > [class^="tower"] {position:absolute; top:50%; left:50%;}
#towerbase > [class^="tower1"] {background-color:white; border:1px solid black;}
#towerbase > [class^="tower2"] {border-color:white; border-style:solid;}

.tower1left{height:40px; width:200px; transform:translate(-50%,-50%) rotateY(90deg) translateX(-50%) translateZ(20px);}
.tower1right{height:200px; width:40px; transform:translate(-50%,-50%) rotateX(90deg) translateY(50%) translateZ(-20px);}


.tower1top, .tower2top {
	height:80px; width:80px;
	background-color:white;
	border:1px solid black;
	transform-style:preserve-3d;
}
.tower1top{transform:translate(-50%,-50%) translateZ(240px);}
.tower2top{transform:translate(-50%,-50%) translateZ(200px);}

.tower2left{
	height:78px; width:22px;
	border-width:1px 10px;

	outline:1px solid black;
	transform:translate(-10px,-50%) rotateY(90deg) translateX(-220px) translateZ(30px);
}
.tower2right{
	height:22px; width:78px;
	border-width:10px 1px;

	outline:1px solid black;
	transform:translate(-50%,-11px) rotateX(90deg) translateY(220px) translateZ(-30px);
}

.tower1window, .tower2window {
	position:absolute;
	top:50%; left:50%;
	background-color:#d3d3d3;
	opacity:0.8;
	transform:translate(-50%,-50%);
}
.tower1window{height:22px; width:75px;}
.tower2window{height:75px; width:22px;}
