:root {
    --content-fadeIn:100ms;
    --content-fadeOut:200ms;
    --content-inputFocus:200ms;
}


::selection {background:black; color:aqua;}
::-webkit-scrollbar {width:10px;}
::-webkit-scrollbar-track {box-shadow:inset 0 0 6px #999999; border-radius:99px; }
::-webkit-scrollbar-thumb {box-shadow:inset 0 0 6px #000000; border-radius:99px; background-color:#999999;}


@keyframes textShadow {
  0%   {text-shadow:5px 5px 15px #ff0000;}
  25%  {text-shadow:5px 5px 15px #b7ff00;}
  50%  {text-shadow:5px 5px 15px #0051ff;}
  75%  {text-shadow:5px 5px 15px #00ffd2;}
  100% {text-shadow:5px 5px 15px #ff0000;}
}


html, body {margin:0; padding:0;}
body {color:white;}
#wrapper {display:flex; flex-direction:column; min-height:100%;}
#scrollUp {position:fixed; right:30px; bottom:50px; padding:10px; font-size:24px; }

#modal .uk-modal-header,
#modal .uk-modal-footer {background:rgba(0, 0, 0, 0.03); color:black;}
#modal .uk-modal-body input[type="date"]::-webkit-inner-spin-button { display:none; }

.content {margin:0 60px;}
.contentY {padding:50px 0;}

input[type="text"]::placeholder {text-indent:0; transition:text-indent 1s ease;}
input[type="text"]:focus::placeholder {text-indent:105%;}

[uk-tooltip] {cursor:help;}
.uk-notification > div {background:black; border-left:7px solid;}
.uk-notification > div small {font-size:14px;}

#header #lineStart {padding:10px; background:#26b2aa;}
#header #lineStart img {width:100px; margin:0 10px;}
#header #lineStart a {color:white;}
#header #lineStart a:hover {color:#eee}
#header #lineStart form > * {color:white;}
#header #lineStart form input::placeholder {color:#e3e3e3;}
#header #lineStart form input:hover::placeholder {color:white;}

#header #navStart {height:130px; background:#ededed;}
#header #navStart > div {background:white; border-bottom:1px solid black;}
#header #navStart div img {min-height:50px; max-height:100px; margin:15px 0;}
#header #navStart div > a {color:#26b2aa; font-size:24px; margin:10px; font-weight:600;}
#header #navStart div > a:hover {color:#999999;}
#header #navStart div [uk-dropdown] {padding:0;}
#header #navStart div [uk-dropdown] li.uk-nav-header,
#header #navStart div [uk-dropdown] li a {padding:0 10px 5px;}
#header #navStart div [uk-dropdown] li a:hover {background:#26b2aa; color:white;}
#header #navStart div [uk-dropdown] li:not(.uk-active) a {padding-left:20px;}

#content {background:#ededed; color:black; flex:1 0 auto;}
#content #slider {pointer-events:none;}

#content #banners a {color:white;}
#content #banners [class*='banner-'] {background-size:auto; min-height:300px;}
#content #banners .banner-1 {background:#26b2aa url('/img/banner-1.jpg') no-repeat 100% 0%;}
#content #banners .banner-2 {background:#999999 url('/img/banner-2.jpg') no-repeat 100% 0%; color:#1c928c;}

#content #news {padding:50px 0;}
#content #news .uk-heading-primary {color:#26b2aa;}
#content #news .uk-switcher {background:white; padding:20px;}

#content #info > div {background:white; padding:50px;}

#content #contacts .whiteBlock {background:white; margin:40px;}

#content #shop > div > a:hover {text-decoration:none;}
#content #shop > div > a > div:before {transition:.3s; position:absolute; content:''; opacity:0; width:100%; height:100%; left:0; top:0;}
#content #shop > div > a > div:hover:before {background:rgba(0, 0, 0, 0.7); opacity:1;}
#content #shop > div > a > div:hover:after {overflow:hidden; content:attr(tooltip); position:absolute; color:white; top:50%; left:0px; padding:15px; max-height:126px;}
#content #shop > div > a > div:hover > p {color:white; top:-191px; font-weight:bold;}
#content #shop > div > a > div > p {top:0; transition:.3s; position:relative;}

#content #table > div {background:white;}
#content #table > div :not(:first-child) {margin-top:20px;}
#content #table table {color:black;}
#content #table table tr th span {padding:5px 0 25px;}
#content #table table tr td span.counter {color:rgba(0, 0, 0, 0.25);}

#footer {flex:0 0 auto;}
#footer #navEnd {background:#26b2aa; padding:20px 60px;}
#footer #navEnd p {font-size:14px; text-align:left; line-height:5px}
#footer #navEnd p:nth-child(1) {font-size:20px; font-weight:600; margin-bottom:40px;}

#footer #lineEnd {background:#999999; height:50px;}
