<html>
  <head>
    <title>Магазин профессионального оборудования PROSHOP - оборудование для магазинов, столовых, ресторанов, кафе и баров</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/uikit.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />

    <!-- <script src="/js/jQuery.min.js"></script> -->
    <script src="/js/uikit.min.js"></script>
    <script src="/js/uikit-icons.min.js"></script>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">{{>main/_header}}</div>
      <div id="content">{{> (include)}}</div>
      <div id="footer">{{>main/_footer}}</div>
    </div>
  </body>
</html>
