<div id="lineEnd" class="uk-flex uk-flex-middle">
  <div class="content">© 2018 PROSHOP.RU. Все права защищены.</div>
</div>


<a id="scrollUp" class="uk-button uk-button-primary" href="#" uk-scroll><span uk-icon="chevron-up"></span></a>
