<div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
      <li class="uk-nav-header">Управление</li>
      <li><a href="/users">Клиентами</a></li>
      <li><a href="/goods">Товарами</a></li>
      <li><a href="/mails">Письмами</a></li>

      <li class="uk-nav-header">Отчетность</li>
      <li><a href="/transactions">По транзакциям</a></li>
      <li><a href="/adminActions">По дейсвиям администрации</a></li>
    </ul>
</div>
