<div id="lineStart" class="uk-flex uk-flex-around">
  <div>
    <b>A part of San Sac Group</b>
    <img src="/img/logoSansacgroup.png" />
  </div>
  <div><a href="tel:84957907606"><b>+7 (495) 790-76-06</b></a></div>
  <div class="uk-flex uk-flex-around">
    <a href="mailto:info@proshop.ru" rel="alternate">info@proshop.ru</a>
    <form class="uk-search uk-search-default uk-margin-left uk-margin-right">
        <span uk-search-icon></span>
        <input class="uk-search-input uk-form-small" type="search" placeholder="Search...">
    </form>
    <div>Корзина <span uk-icon="cart"></span></div>
  </div>
</div>


<div id="navStart">
  <div class="uk-flex uk-flex-around uk-flex-middle" uk-sticky="sel-target:.uk-navbar-container; cls-active:uk-navbar-sticky; bottom:#transparent-sticky-navbar">
    <div><a href="/"><img src="/img/logoProShop.jpg" /></a></div>
    <div>
      <a href="/">Главная</a>
      <a href="#">База Redis <span uk-icon="chevron-down"></span></a>{{>admin/_headerNavRedis}}
      <a href="#">База MySQL <span uk-icon="chevron-down"></span></a>{{>admin/_headerNavMySQL}}
      <a href="/logOut">Выход</a>
    </div>
  </div>
</div>



<script>
  let lineStart = document.getElementById('lineStart');
  let navStart = document.getElementById('navStart');
  let img = navStart.querySelector('div > a > img');

  let lineStartHeight = lineStart.offsetHeight;
  let navStartHeight = navStart.offsetHeight;

  window.onscroll = () => {
    let scrolled = window.pageYOffset || document.documentElement.scrollTop;
    let margin = parseInt((window.getComputedStyle(img) || img.currentStyle).marginTop);
    let height = lineStartHeight + navStartHeight - scrolled - 2 * margin;

    if (!height || height < 50) height = 50;
    img.style.height = height;
    img.style.margin = `${height/10}px 0px`;
  }
</script>
