<div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
      <li class="uk-nav-header">Активные сессии</li>
      <li><a href="/session">Список активных сессий</a></li>

      <li class="uk-nav-header">Обратная связь</li>
      <li><a href="/support">Активные заявки</a></li>
      <li><a href="/supportAll">Заявки за все время</a></li>

      <li class="uk-nav-header">Запросы на сайт</li>
      <li><a href="/listGET">GET-запросы</a></li>
      <li><a href="/listPOST">POST-запросы</a></li>
    </ul>
</div>
