<div id="adminLogIn" class="uk-padding uk-flex uk-flex-center">
  <form action="/logIn" method="post" class="uk-flex uk-flex-column uk-flex-middle">
    <h2>Пожалуйста авторизуйтесь</h2>

    <div class="uk-inline uk-width-1-1">
      <span class="uk-form-icon uk-icon" uk-icon="icon: user"></span>
      <input class="uk-input" type="text" name="login" placeholder="Логин">
    </div>

    <div class="uk-inline uk-width-1-1 uk-margin-small">
      <span class="uk-form-icon uk-icon" uk-icon="icon: lock"></span>
      <input class="uk-input" type="text" name="pass" placeholder="Пароль">
    </div>

    <button type="submit" class="uk-button uk-button-secondary uk-width-1-2">Войти</button>
  </form>
</div>
