<script type="text/javascript" src="/js/sortTable.js"></script>


{{#if data.modal}}
  <style>tr:not(:first-child) {cursor:pointer;}</style>
  <script type="text/javascript" src="/js/modal.js"></script>
  
  <div id="modal" uk-modal>
    <div class="uk-modal-dialog" uk-overflow-auto>
      <button class="uk-modal-close-default uk-close uk-icon" type="button" uk-close></button>

      <div class="uk-modal-header"></div>

      <div class="uk-modal-body" uk-overflow-auto>
        <form class="uk-form-horizontal uk-margin-large"></form>
      </div>

      <div class="uk-modal-footer uk-text-right">
        <button type="button" class="uk-button uk-button-primary" id="save">Сохранить</button>
        <button type="button" class="uk-button uk-button-danger" id="del">Удалить</button>
      </div>

    </div>
  </div>
{{/if}}


<div id="table" class="uk-padding">
  {{#if data.add}}
  <div class="uk-padding">
    <div class="uk-child-width-expand@s" uk-grid>
        <div class="uk-grid-item-match">
            <div class="uk-card uk-card-default uk-card-body">
              <h3>Внимание</h3>
              <p>Все поля в таблицах обязательны для заполнения. Дополнительные поля (например время) заполняются автоматически и могут быть орредактированы позже.</p>
			  <p>В случае возникновения проблем в работе системы незамедлительно же сообщите техническому администратору.</p>
            </div>
         </div>
        <div>
          <h3 class="uk-heading-line uk-text-center"><span>Добавить новую запись <i uk-icon="icon:database; ratio:2"></i></span></h3>
          <form>
            {{#each data.add}}
              {{{this}}}
            {{/each}}
            <button type="submit" class="uk-button uk-button-secondary uk-width-1-1">Сохранить</button>
          </form>
        </div>
      </div>
    </div>
  {{/if}}


  {{#if table.name}}
    <h2 class="uk-heading-line uk-text-center"><span>Таблица {{table.name}}</span></h2>
  {{/if}}

  <table nameID="{{table.id}}" class="uk-table uk-table-striped uk-table-hover uk-table-middle">
    <tr>
      <th><span uk-tooltip="Отсортировать по этой колонке">№</span></th>

      {{#each table.head}}
        <th><span uk-tooltip="Отсортировать по этой колонке">{{this.name}}</span></th>
      {{/each}}
    </tr>

    {{#each table.body}}
      <tr data="{{toString this}}">
        <td>{{math @index '+' 1}}</td>

        {{#each ../table.head}}
          <td>{{{ifType ../this this}}}</td>
        {{/each}}
      </tr>
    {{/each}}

  </table>
</div>